# Logs, caches
*.log
*.csv

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.envrc

# Data / large artifacts
data/
models/
backend/models/
backend/static/uploads/
static/uploads/
image_predictions.csv
repo-backup.bundle
Miniforge3-MacOSX-arm64.sh

# Build
dist/
build/

# IDE
.vscode/
.idea/
.DS_Store
backend/static/uploads/
